* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul {
  display: flex;
}
li a:hover{
  background-color: #111;
}
.home{
  background-color: red;
}
body{
  background-image: url("clouds.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main{
  text-align: center;
  top: 10%;
  font-family: "Brush Script MT", cursive;
  position: absolute;
  left: 37%;
  font-size: 80px;
}
.copy {
  text-transform: capitalize;
  text-align: right;
  position: absolute;
  font-size: 10px;
  top: 90%;
  left: 88%;
}
.table{
  position: absolute;
  top: 31%;
  left: 32%;
}
.inst{
  text-indent: 0px;
}
table, tr, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 15px;
}
th{
  text-align: left;
  padding-left: 3;
}
th,tr:hover{
  background-color: grey;
}
td:hover{
  color: white;
}
td{
  font-weight: 700;
}
